@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;



.tev_home_hand_box {
  width: 66px;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top:65%;
  left:65%;
}
.tev_home_hand_box_first {
  //background: center center/cover url(../img/home_icon_01.svg) no-repeat;
  flex: 100% 0 0;
  height: 100%;
  position: relative;
  z-index: 3;
  animation: linear click_ani_03 3s infinite;
  -webkit-animation: linear click_ani_03 3s infinite;
}
.tev_home_hand_box_second {
  //background: center center/cover url(../img/home_icon_02.svg) no-repeat;
  transform: translate(-117%,-20px);
  flex: 100% 0 0;
  height: 100%;
  position: relative;
  z-index: 2;
  animation: linear click_ani_02 3s infinite;
  -webkit-animation: linear click_ani_02 3s infinite;
}
.tev_home_hand_box_third {
  transform: translateX(-220%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  flex: 100% 0 0;
  height: 100%;
  position: relative;
  z-index: 1;
}

.tev_home_hand_box_third .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  animation: linear click_ani_01 3s infinite;
  -webkit-animation: linear click_ani_01 3s infinite;
}

.ani-default {position: absolute;/*visibility: hidden;*/ transform: translateY(100px);opacity: 0;transition: all 1s;}

.page-2 {
  .p-title {top:123px;left:108px}
  .cont1 {top:382px;left:90px}
  .cont2 {top:1095px;left:90px}
  .cont3 {top:2058px;left:90px}
  .dot {position:absolute;bottom:94px;left:973px}
  
}

.swiper-slide-active{
  .page-2 {
    .ani-default {
      &.p-title {transform: translateY(0px);opacity: 1;}
      &.cont1 {transform: translateY(0px);opacity: 1;transition-delay: 0.2s;}
      &.cont2 {transform: translateY(0px);opacity: 1;transition-delay: 0.4s;}
      &.cont3 {transform: translateY(0px);opacity: 1;transition-delay: 0.6s;}
    } 
  }
}




.page-2{
    .content{
      //padding-left: 130px;
      padding-top: 160px;
    }
    .item1{
      position: relative;
      .popup-button{
          position: absolute;
          top: 455px;
          right: 120px;
          width: 242px;
          height: 170px;
          //background: #000;
          .q{
              position: absolute;
              top: 36px;
              left: 107px;
              display: block;
              animation: linear click_ani_03 3s infinite;
          }
      }
    }
    .item2{
        position: relative;
    }
    .item3{
      position: relative;
      .txt1,
      .txt2,
      .txt3{
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: all 1s;
      }
    }
    // @for $i from 4 through 10 {
    //   .item#{$i} {
    //     transition: all 1s;
    //     opacity: 0;
    //     transform: translateY(100px);
    //   }
    // }
    
  }
  .swiper-slide-active{
    .page-2{
      .item3{
        .txt1{
          transform: translateY(0px);
          opacity: 1;
          transition-delay: 0.2s;
        }
        .txt2{
          transform: translateY(0px);
          opacity: 1;
          transition-delay: 0.4s;
        }
        .txt3{
          transform: translateY(0px);
          opacity: 1;
          transition-delay: 0.6s;
        }
      }
    }
  }


@keyframes click_ani_01 {
  0% {
    transform: scale(30%);
    opacity: 0;
  }
  40% {
    transform: scale(30%);
    opacity: 0;
  }
  45% {
    transform: scale(100%);
    opacity: 0.5;
  }
  60% {
    transform: scale(350%);
    opacity: 0;
  }
  100% {
    transform: scale(30%);
    opacity: 0;
  }
}
@keyframes click_ani_02 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes click_ani_03 {
  0% {
    transform: scale(130%);
  }
  40% {
    transform: scale(100%);
  }
  60% {
    transform: scale(100%);
  }
  100% {
    transform: scale(130%);
  }
}
@keyframes header_ani_01_01 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes header_ani_02_01 {
  0% {
    flex: 0% 0 0;
  }
  100% {
    flex: 100% 0 0;
  }
}
@keyframes header_ani_02_02 {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header_ani_02_03 {
  0% {
    transform: translateX(-110%);
  }
  10% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(110%);
  }
}
@keyframes tail_ani_02_01 {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tail_ani_02_02 {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}
@keyframes tail_ani_02_02_02 {
  0% {
    opacity: 0;
    transform: translateX(-110%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes tail_ani_02_03 {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}