@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;




.page-6 {
  .item2{
    position: relative;
  }
  .item2{
    .gh-img{
      bottom: 811px;
      left: 291px;
      .imgover{
        width: 1649px;
        height: 771px;
        img{
          height: 771px;
        }
      }
    }
  }
  .gh-img{
      position: absolute;
      overflow: hidden;
      clip-path: inset(0 100% 0 0);
      transition: all 4s 0.3s cubic-bezier(0.33, 1, 0.68, 1);
      .imgover{
          position: relative;
          img{
              position: absolute;
              bottom: 0;
              left: 0;
              
          }
      }
  }
}

.swiper-slide-active{
  .page-6{
    .item2{
      .gh-img{
        clip-path: inset(0 0 0 0); // 점점 보여짐
      }
    }
  }
}