@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;




.page-6 {
  .item2{
    position: relative;
  }
  .item2{
    .gh-img{
      bottom: 811px;
      left: 291px;
      .imgover{
        width: 1649px;
        height: 771px;
        img{
          height: 771px;
        }
      }
    }
  }
  .gh-img{
      position: absolute;
      overflow: hidden;
      clip-path: inset(0 100% 0 0);
      
      .imgover{
          position: relative;
          img{
              position: absolute;
              bottom: 0;
              left: 0;
              
          }
      }
  }
}

.swiper-slide-active{
  .page-6{
    .item2{
      .gh-img{
        transition: all 2.5s 0.8s cubic-bezier(0.33, 1, 0.68, 1);
        clip-path: inset(0 0 0 0); // 점점 보여짐
        
      }
    }
  }
}



.page-6 {
  .p-title {top:169px;left:109px}
  .cont1 {top:380px;left:91px}
  .cont2 {top:1985px;left:178px}
  .cont3 {top:2377px;left:88px}
  .dot {position:absolute;bottom:94px;left:973px}


  .ani-default.cont2 {transform: translateY(-100px);transition: all 0.75s;}
}

.swiper-slide-active{
  .page-6 {
    .ani-default {
      &.p-title {transform: translateY(0px);opacity: 1;}
      &.cont1 {transform: translateY(0px);opacity: 1;transition-delay: 0.2s;}
      &.cont2 {transform: translateX(0px);opacity: 1;transition-delay: 1.3s;}
      &.cont3 {transform: translateY(0px);opacity: 1;transition-delay: 0.6s;}
    } 
  }
}
