@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.page-9 {
  .item2, .item3{
    position: relative;
  }
  .item2{
    .gh-img{
      bottom: 2044px;
      left: 376px;
      clip-path: inset(0 0 100% 0);
      .imgover{
        width: 1531px;
        height: 432px;
        img{
          height: 432px;
        }
      }
    }
  }
  .item3{
    .gh-img{
      bottom: 520px;
      left: 262px;
      clip-path: inset(100% 0 0 0);
      .imgover{
        width: 1716px;
        height: 767px;
        img{
          height: 767px;
        }
      }
    }
  }
  .gh-img{
      position: absolute;
      overflow: hidden;
      
      
      .imgover{
          position: relative;
          img{
              position: absolute;
              bottom: 0;
              left: 0;
              
          }
      }
  }
}

.swiper-slide-active{
  .page-9{
    .item2{
      .gh-img{
        transition: all 3s 0.6s cubic-bezier(0.33, 1, 0.68, 1);
        clip-path: inset(0 0 0 0); // 점점 보여짐
      }
    }
    .item3{
      .gh-img{
        transition: all 3s 1.5s cubic-bezier(0.33, 1, 0.68, 1);
        clip-path: inset(0 0 0 0); // 점점 보여짐
      }
    }
  }
}



.page-9 {
  .p-title {top:168px;left:109px}
  .cont1 {top:354px;left:91px}
  .cont2 {top:1448px;left:91px}
  .cont3 {top:2377px;left:88px}
  .dot {position:absolute;bottom:94px;left:973px}
  
}

.swiper-slide-active{
  .page-9 {
    .ani-default {
      &.p-title {transform: translateY(0px);opacity: 1;}
      &.cont1 {transform: translateY(0px);opacity: 1;transition-delay: 0.2s;}
      &.cont2 {transform: translateY(0px);opacity: 1;transition-delay: 0.8s;}
      &.cont3 {transform: translateY(0px);opacity: 1;transition-delay: 0.6s;}
    } 
  }
}
