@use 'sass:map';
@use 'sass:math';

@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.page-10 {
  .item2, .item3{
    position: relative;
  }
  .item2{
    .gh-img{
      bottom: 1811px;
      left: 253px;
      .imgover{
        width: 1732px;
        height: 467px;
        img{
          height: 467px;
        }
      }
    }
  }
  .item3{
    .gh-img{
      bottom: 657px;
      left: 254px;
      .imgover{
        width: 1732px;
        height: 407px;
        img{
          height: 407px;
        }
      }
    }
  }
  .gh-img{
      position: absolute;
      overflow: hidden;
      clip-path: inset(0 100% 0 0);
      transition: all 4s 0.3s cubic-bezier(0.33, 1, 0.68, 1);
      .imgover{
          position: relative;
          img{
              position: absolute;
              bottom: 0;
              left: 0;
              
          }
      }
  }
}

.swiper-slide-active{
  .page-10{
    .item2{
      .gh-img{
        clip-path: inset(0 0 0 0); // 점점 보여짐
      }
    }
    .item3{
      .gh-img{
        clip-path: inset(0 0 0 0); // 점점 보여짐
      }
    }
  }
}