<div class="slide-page page-8">
    <img src="/assets/page8/img_1.png" alt="">
    <div class="item2">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page8/gr_1.png" alt=""></div>
        </div>
    </div>
    <div class="item3">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page8/gr_2.png" alt=""></div>
        </div>
    </div>

    <div class="wrap-dot-g">
        <button class="btn-dot-g g8"></button>
        <button class="btn-dot-g g9"></button>
        <button class="btn-dot-g g10"></button>
    </div>
</div>